In [3]:
import pandas as pd
import os

In [4]:
path = r"C:\Users\andre\OneDrive\Escritorio\Proyecto de Grado\result\db_agrupado"
mes = 'Enero'
path_csv = os.path.join(path, mes + '_Agrupado.csv')
data = pd.read_csv(path_csv, encoding='Latin1', sep=';')

In [5]:
data.head()

,DIRECTORIO,ZONA_TERRITORIAL,FACTOR_EXPANSION,DPTO,SEXO,EDAD,PARENTESCO_JEFE_DE_HOGAR,MADRE_RESIDE_HOGAR,PADRE_RESIDE_HOGAR,SE_CONSIDERA_CAMPESINO,...,TIPO_OCUPACION_VIVIENDA,HOGAR_TIENE_CUENTA_CORRIENTE,HOGAR_TIENE_CUENTA_AHORROS,HOGAR_TIENE_CDT,HOGAR_TIENE_PRESTAMO_COMPRA_VIVIENDA,HOGAR_TIENE_PRESTAMO_COMPRA_VEHICULO,HOGAR_TIENE_PRESTAMO_LIBRE_INVERSION,HOGAR_TIENE_TARJETA_CREDITO,NUMERO_PERSONAS_HOGAR,DISCAPACIDAD
0,7309060,Cabecera,1580.677273,CUNDINAMARCA,Masculino,27,"Pareja, esposo(a), conyuge, companero(a)",No,No,Si,...,En arriendo o subarriendo,No,Si,No,No,No,No,No,3,Sin discapacidad
1,7309064,Resto,324.598262,RISALRALDA,Masculino,18,"Hijo(a), hijastro(a)",Si,No,Si,...,En arriendo o subarriendo,No,Si,No,No,No,No,No,5,Sin discapacidad
2,7309067,Resto,167.457366,RISALRALDA,Femenino,25,"Hijo(a), hijastro(a)",No,Si,Si,...,"Propia, totalmente pagada",No,Si,No,No,No,No,No,2,Sin discapacidad
3,7309073,Resto,202.189536,RISALRALDA,Femenino,27,"Hijo(a), hijastro(a)",Si,No,Si,...,En usufructo,No,Si,No,No,No,No,No,6,Sin discapacidad
4,7309073,Resto,202.189536,RISALRALDA,Femenino,23,"Hijo(a), hijastro(a)",Si,No,Si,...,En usufructo,No,Si,No,No,No,No,No,6,Sin discapacidad

In [6]:
def calculate_group(row):
    sexo = row['SEXO']
    edad = row['EDAD']
    
    if edad < 25:
        val = sexo + "_younger_25"
    else:
        val = sexo + "_older_25"
    return val

In [8]:
data['Grupo'] = data.apply(calculate_group, axis = 1)

In [10]:
totales_pobla = data['Grupo'].value_counts()
totales_minoritaria = data[data['ACTIVIDAD_OCUPADA_ULTIMA_SEMANA']==0]['Grupo'].value_counts()

In [12]:
proporciones = totales_minoritaria/totales_pobla

Grupo
Femenino_older_25       0.173485
Femenino_younger_25     0.214385
Masculino_older_25      0.142632
Masculino_younger_25    0.199287
Name: count, dtype: float64

In [16]:
totales_minoritaria

Grupo
Masculino_younger_25    447
Femenino_younger_25     307
Masculino_older_25      272
Femenino_older_25       229
Name: count, dtype: int64

In [17]:
totales_pobla

Grupo
Masculino_younger_25    2243
Masculino_older_25      1907
Femenino_younger_25     1432
Femenino_older_25       1320
Name: count, dtype: int64